// primary color

$color-primary: hsl(225, 24%, 28%);
$color-primary-sub: hsl(223, 26%, 35%);
//secondary color

$color-secondary: hsl(226, 19%, 57%);

//tertiary color

$color-tertiary: hsl(237, 93%, 50%);
$color-tertiary-sub: hsl(225, 24%, 10%);
//natural color

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 7%);
$color-gray: hsl(0, 0%, 45%);
