.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    color: white;
  }
}

.fab {
  &:hover {
    color: $color-gray;
    transform: scale(1.5);
  }
}
