.crew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    padding: 40px;
    &-header {
      flex: 40%;
    }
    &-main {
      flex: 40%;
    }
  }
}
