.launches__upcoming {
  height: 45rem;
  flex: 30%;
  text-align: center;
  overflow-y: scroll;
}

.launches__cores {
  height: 45rem;
  flex: 30%;
  text-align: center;
  overflow-y: scroll;
}

.launches__fail {
  height: 45rem;
  flex: 30%;
  text-align: center;
  overflow-y: scroll;
}

.launche {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  border: 1rem solid $color-secondary;

  &__img {
    width: 40%;
  }
}
