.launches {
  overflow-y: scroll;
  height: 40rem;
  width: 40rem;
  text-align: center;
}

.launche {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  border: 1rem solid $color-black;
  background-color: $color-primary;

  &__img {
    width: 40%;
  }
}
