h1 {
  color: $color-white;
  font-size: 36px;
}

h2 {
  color: $color-white;
  font-size: 30px;
}

h3 {
  color: $color-white;
  font-size: 26px;
}

p {
  color: $color-white;
}

.fab {
  color: $color-white;
  font-size: 40px;
}
