.mid_index {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.8), 
        rgba($color-black, 0.8)),
    url(../../assets/img/spacex-3.jpg);
    height: 60vh;
    width: 100%;
}